@model Model.Entity.Books

@{
    ViewData["Title"] = "Update";
}



<h2>Detalle de los Libros</h2>

<form method="post" asp-action="Update">
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titulo
        </dt>

        <dd>
            <input asp-for="@Model.title" />
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            <input asp-for="@Model.description)" />
        </dd>

        <dt>
            Pagina
        </dt>

        <dd>
           <input asp-for="@Model.pageCount)"/>
        </dd>

        <dt>
            Conocido
        </dt>

        <dd>
          <input asp-for=" @Model.excerpt)" />
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            <input asp-for="@Model.publishDate)"/>
        </dd>

    </dl>
    <button type="submit" class="btnbtnEliminarBooks btn btn-primary" asp-controller="home">Actualizar</button>
</form>



<script>

    $("#divListadoLibros").on('click', '.btnEliminarBooks', function () {
        var vIdCliente = $(this).attr('data-id');

        if (confirm("¿Estás seguro de modificar el cliente?")) {
            $.ajax({
                type: "Get",
                url: "Home/Index",
                data: { idCliente: vIdCliente },
                cache: false,
                success: function (books) {
                    if (existo) {
                        CargarListadoBooks();
                        alert("Modificado correctamente");
                    } else {
                        alert("Ocurrió un error al realizar la Modificar");
                    }
                }
            });

        }



    });




</script>